{% extends "home/layout.html" %}
{% load static %}

{% block loadInHead %}
<script src="{% static 'home/create.js' %}"></script>
{% endblock %}

{% block content %}

<!-- A simple form that displays the image and asks for input -->
<div class="create">
    <form action="{% url 'home:create' %}" method="post" style="margin-top: 5%;">
        {% csrf_token %}
        {{ form }}
        <div id="createDiv"><img id="createImg" src="https://source.unsplash.com/random/" alt=""></div>
        <button type="submit">Create Post!</button>
    </form>
</div>

{% endblock %}
