* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.form-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inside {
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.submit-out {
    display: flex;
    justify-content: center;
}

.submit-btn {
    padding: 5px;
}

